.container{
    background-color:rgb(226, 226, 186);
    height:400px;
    width:400px;
    box-shadow:10px 10px green;
    box-shadow:20px 20px 30px rgb(245, 253, 2);
    box-shadow:20px 20px 30px 20px rgb(253, 2, 2);
    border-radius:50%;
    box-shadow:0px 0px 300px 30px rgb(255, 230, 0)

}