*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:rgb(25, 158, 41);
    display:flex;
    justify-content:center;
    height:100vh;
    align-items:center;
}
.container{
    background-color:white;
    border:5px solid rgb(147, 118, 118);
    width:1000px;
    padding:40px;
    font-size:40px;
    color:black;
    border-radius:50%;
    white-space:nowrap;
    overflow:hidden
}
p{
    animation-name: motion;
    animation-duration:5s;
    animation-iteration-count:infinite;
}
@keyframes motion {
    from{
        margin-left:100%;

    }
    to{
        margin-right:100%;

    }
}
