*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
body{
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.container{
    display:grid;
    height:400px;
    width:400px;
    grid-template-rows:1fr 2fr 2fr 1fr;
    grid-template-columns:1fr 1fr 1fr;
    gap:10px;
    border-radius:10px;
}
.header{
    background-color:blue;
    grid-column-start:1;
    grid-column-end:4;


}
.sidebar{
    background-color:brown;
    grid-row-start:2;
    grid-row-end:4;



}
.content1{
    background-color:blueviolet;
    grid-row:2/3;
    grid-column:2/4;

}
.content2{
    background-color:antiquewhite;
    grid-row:3/4;
    grid-column:2/4;

}
.footer{
    background-color:chartreuse;
    grid-row-start:4;
    grid-row-end:5;
    grid-column-start:1;
    grid-column-end:4
}