
.box{
    box-sizing:border-box;
    width:300px;
    height:200px;
    

}
.first,.third{
    height:50px;
    background-color:red;
}

.second{
    height:100px;
    background-color:blue;
    display:flex;
    justify-content:center;
    align-items:center;
}
.in{
    height:80px;
    width:80px;
    background-color:white;
    border-radius:50px;

}