*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    height:400px;
    width:400px;
    display:grid;
    grid-template-rows:repeat(8,1fr);
    grid-template-columns:repeat(8,1fr);
    background-color:white

}
.white{
background-color:white;
}
.brown{
    background-color:brown;

}













