*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.container{
    display:grid;
    height:400px;
    width:400px;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:10px;
}
.one{
    grid-row:1/4;

}
.two{
    grid-column:2/4;
}
.three{
    grid-column:4/5;
    grid-row:1/2;

}
.four{
    grid-column:2/3;
    grid-row:2/3;

}
.five{
    grid-column:3/4;
    grid-row:2/3;

}
.six{
    grid-row:2/4;
    grid-column:4/5;
}
.seven{
     grid-column:2/3;
    grid-row:3/4;

}
.eight{
    grid-column:3/4;
    grid-row:3/4;

}
.green{
background-color:green;
}
.red{
    background-color:red

}
.yellow{
    background-color:yellow;

}