*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.container{
    display:grid;
    width:400px;
    height:400px;
    grid-template-columns:2fr 2fr 1fr 2fr 2fr;
    grid-template-rows:2fr 1fr 1fr 2fr;
    gap:10px;
}
.red{
    background-color:red;

}
.blue{
    background-color:blue;


}
.yellow{
    background-color:yellow;

}
.white{
    background-color:white;
}
.one{
    grid-column:1/2;
    grid-row:1/3;
}
.two{
    grid-column:2/4;
    grid-row:1/2;

}
.three{
    grid-column:4/6;
    grid-row:1/2;
}
.four{
    grid-column:2/3;
    grid-row:2/4;
}
.five{
    grid-column:3/5;
    grid-row:2/4;

}
.six{
    grid-column:5/6;
    grid-row:2/5;
}
.seven{
    grid-column:1/2;
    grid-row:3/5;
}
.eight{
    grid-column:2/3;
    grid-row:4/5;
}
.nine{
    grid-column:3/5;
    grid-row:4/5;

}