#container{
    height:200px;
    width:300px;
    position:absolute;

background-color:white;

}
#container2{
    background-color:red;
    height:100px;
width:100px;
border-radius:300px;
position:absolute;
left:100px;
top:50px;
/*since wrt parent not itself*/

}