.container{
    height:400px;
    width:400px;
    background-color:aquamarine;
    font-size:50px;
}
@media screen and (max-width:900px){
    .container{
        background-color:darkgreen;
    }
}
@media screen and (min-width:600px){
    .container{
        background-color:brown;
    }
}

@media screen and (max-width:600px){
    .container{
        background-color:blueviolet;
    }
}
